<ol class="list-group  list">
        <ng-container *ngFor="let job of jobs; let i = index">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                        <img [src]="job.companyLogo" alt="Logo" class="logo" />
                        <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                        <a [routerLink]="['/job-view', job.id]">{{job.title}}</a>
                                </div>
                                <b>company :</b> {{job.companyName}}, <b>Reference :</b> {{job.reference}}
                        </div>
                        <span class="icon-star" id="star-{{job.id}}" (click)="toggleFavorite(job)"
                                [class.active]="isFavorite(job.id)">&#9733;</span>

                </li>
        </ng-container>
        <div class="notFound text-center" *ngIf="jobs?.length === 0">
                <span>No Favorite Selected</span>
        </div>
</ol>