<div class="container">
        <div class="header">
                <h2>Find your job</h2>
                <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                                <a routerLink="job-list" routerLinkActive="active" class="nav-link" aria-current="page">
                                        Jobs
                                </a>
                        </li>
                        <li class="nav-item">
                                <a routerLink="job-favorite" routerLinkActive="active" class="nav-link"
                                        aria-current="page">Favourite</a>
                        </li>
                </ul>
        </div>
        <router-outlet></router-outlet>
</div>